<body class="bg-white">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="login-content">
            <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                <span class="badge badge-pill badge-success">Success</span>
                Please check your email.
                <button class="close" aria-label="Close" type="button" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>


</body>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}