@using Prometheus.Model.Models.AuthorizationModel

@model ResetPasswordModel

<body class="bg-white">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <h3>Reset Password</h3>
                </div>
                <div class="login-form">
                    <form method="post">
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Email">Email address</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">New Password</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Reset</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}