<body class="bg-white">
    <div class="sufee-login d-flex align-content-center flex-wrap">

        <div class="login-content">

            <p class="text-success">
                Your password has been reset. Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
            </p>
        </div>
    </div>


</body>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    }